@bg-blue: #5f5aff;

html {

  body {
    background-color: @bg-blue;
  }

  height: 100%;
  margin: 0;
  padding: 0;
}


#map {
  height: 100vh;
  transform: translate3d(0);
  position: relative;
}

div:not(#map) {

  input {
    padding: 8px;
    height: 31px;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .3)
  }
}

#search {
  position: absolute;
  top: 10px;
  left: 120px;
}