
<section id="searchbar" class="row">

    <!-- Location searchActivityLocations form -->
    <section data-bind="with: MapViewModel" id="search-location" class="col-xs-6">
        <form data-bind="submit: updateGeolocation" class="form-inline">
            <fieldset class="form-group">
                <input data-bind="value: geolocationName"
                       class="form-control"
                       type="text"
                       placeholder="Hey, I need a location!"/>
                <button type="submit" class="btn btn-info search-form">Go</button>
                <div><small class="text-muted search-form">Where do you want to go?</small></div>
            </fieldset>
        </form>
    </section>

    <!-- Activities searchActivityLocations form -->
    <section data-bind="with: ActivitiesViewModel" id="search-activities" class="col-xs-6">
        <form data-bind="submit: addActivity" class="form-inline">
            <fieldset class="form-group">
                <input data-bind="value: activityQuery"
                       class="form-control"
                       type="text"
                       placeholder="Let's go out!"/>
                <button type="submit" class="btn btn-success btn-search">Do</button>
                <div><small class="text-muted">What do you want to do?</small></div>
            </fieldset>
        </form>
    </section>

</section>

